:root.theme-dark {
  --header-color: #db00ff;
  --main-color: #ff0070;
  --theme-color: #000028;
  --text-color: #f1b2ce;
  --main-font: "IBM Plex mono";
}

.page.theme_dark {
  --header-color: #db00ff;
  --main-color: #ff0070;
  --theme-color: #000028;
  --text-color: #f1b2ce;
  --main-font: "IBM Plex mono";
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-color: #db00ff;
    --main-color: #ff0070;
    --theme-color: #000028;
    --text-color: #f1b2ce;
    --main-font: "IBM Plex mono";
  }

  .page {
    background-image: url(../images/cover-image-dark.png);
  }
}
