/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
header,
footer {
  min-height: 687px;
  max-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

a {
  text-shadow: 1px 1px var(--main-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 1px solid var(--text-color);
}

a:focus {
  border: 1px solid var(--text-color);
}

.page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: url(../images/cover-image.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--theme-color);
  padding: 10px;
}

.header__theme-menu {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--main-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.decorated-zone {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 42px;
}

.header__theme-menu-button {
  background: none;
  border: 1px solid #ffffff00;
  padding: 0 12px;
  text-transform: lowercase;
}

.header__theme-menu-button:active {
  border: 1px solid var(--main-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--main-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--main-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.title-section {
  display: flex;
  flex-direction: column;
  gap: 54px;
  margin-top: 31px;
  margin-bottom: 41px;
}

.main-title {
  color: var(--header-color);
  font-family: var(--main-font), sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 96px;
  text-shadow: 5px 5px var(--main-color);
}

.sentence-title {
  color: var(--theme-color);
  background-color: var(--main-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
}

.sentence-title::before {
  position: absolute;
  width: 25px;
  height: 25px;
  display: block;
  border-bottom: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
  content: "";
  margin-top: 147px;
}

.text {
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.title {
  color: var(--main-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.subtitle {
  color: var(--theme-color);
  background-color: var(--main-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.method {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name-method {
  color: var(--theme-color);
  font-family: var(--main-font), sans-serif;
  background-color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.text-method {
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.5px;
}

.rec {
  color: var(--main-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  min-width: 60px;
}

.rec::after {
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  background: var(--main-color);
  box-shadow: 0px 0px 10px var(--main-color);
  border-radius: 100%;
  content: "";
  margin-top: -18px;
  margin-left: 40px;
}

.rec::before {
  position: absolute;
  width: 25px;
  height: 25px;
  display: block;
  border-top: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
  content: "";
  margin-left: 33px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery {
  gap: 10px;
}

.pictures {
  display: grid;
  gap: 10px;
}

.pictures img {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer:after {
  position: absolute;
  width: 25px;
  height: 25px;
  display: block;
  border-top: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
  content: "";
  margin-right: -328px;
  margin-bottom: 583px;
}

.footer:before {
  position: absolute;
  width: 25px;
  height: 25px;
  display: block;
  border-bottom: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
  content: "";
  margin-left: -329px;
  margin-top: 661px;
}

.footer-text {
  display: flex;
  align-items: center;
  color: var(--header-color);
  font-family: var(--main-font), sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 96px;
  text-align: center;
  margin-top: 41px;
  text-shadow: 3px 3px var(--main-color);
}

@media (768px <= width) {
  header,
  footer {
    padding-left: 20px;
    min-height: 877px;
  }

  main {
    padding-left: 20px;
    margin-top: 177px;
    gap: 81px;
  }

  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .page {
    padding: 20px 20px 20px 0px;
  }

  .decorated-zone {
    gap: 149px;
  }

  .title-section {
    margin-top: 29px;
    margin-left: -20px;
    gap: 163px;
    margin-bottom: 75px;
  }

  .sentence-title {
    align-self: end;
    width: 48.8%;
  }

  .sentence-title::before {
    margin-top: 253px;
    margin-left: -363px;
  }

  .header__theme-menu-list {
    gap: 11px;
  }

  .header__theme-menu-button {
    padding: 2px 12px;
  }

  .problems {
    flex-direction: row;
  }

  .problems .content {
    width: 97.8%;
  }

  .triggers .title {
    width: 30%;
  }

  .advices {
    flex-direction: row;
  }

  .advices .content {
    width: 224%;
  }

  .gallery {
    gap: 17px;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .books {
    grid-area: books;
  }

  .tape {
    grid-area: tape;
  }

  .street {
    grid-area: street;
  }

  .pictures {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape  books ice-cream"
      "tape street street";
  }

  .pictures img {
    overflow: hidden;
    width: 100%;
    object-fit: cover;
  }

  .pictures .tape,
  .pictures .ice-cream {
    height: 100%;
  }

  .footer::before {
    margin-left: -704px;
    margin-top: 1206px;
  }

  .footer::after {
    margin-right: -703px;
    margin-bottom: 713px;
  }

  .footer-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-top: 249px;
  }
}

@media (1024px <= width) {
  header,
  footer {
    min-height: 539px;
  }

  main {
    margin-top: 113px;
    gap: 80px;
  }

  .header__theme-menu {
    align-self: start;
    grid-area: nav;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .header__theme-menu-button {
    padding: 2px 13px;
  }

  .rec {
    align-self: start;
    grid-area: div;
    justify-self: end;
  }

  .title-section {
    align-self: start;
    margin-top: 279px;
    gap: 132px;
    grid-area: title;
  }

  .decorated-zone {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-template-areas:
      ". nav div"
      "title title title";
  }

  .sentence-title::before {
    margin-top: 158px;
    margin-left: -494px;
  }

  .problems .content {
    width: 75%;
  }

  .triggers .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .advices .content {
    width: 170%;
  }

  .gallery {
    gap: 21px;
  }

  .footer-text {
    margin-top: 326px;
  }

  .footer:before {
    margin-left: -960px;
    margin-top: 1029px;
  }

  .footer::after {
    margin-left: 255px;
    margin-top: 337px;
  }
}
